flows_.json
[{"id":"4a4967d8.7b9d18","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"34e9c3ac.23b9ac","type":"ui_form","z":"4a4967d8.7b9d18","name":"","label":"","group":"fe8adbe7.f7ce58","order":0,"width":0,"height":0,"options":[{"label":"CustomerID","value":"cid","type":"number","required":true,"rows":null},{"label":"Surname","value":"snm","type":"text","required":true,"rows":null},{"label":"Credit Score","value":"cs","type":"number","required":true,"rows":null},{"label":"Geography","value":"gpy","type":"text","required":true,"rows":null},{"label":"Gender","value":"gd","type":"text","required":true,"rows":null},{"label":"Age","value":"ag","type":"number","required":true,"rows":null},{"label":"Tenure","value":"tn","type":"number","required":true,"rows":null},{"label":"Balance","value":"bal","type":"number","required":true,"rows":null},{"label":"Num Of Products","value":"nop","type":"number","required":true,"rows":null},{"label":"Has Cr Card","value":"hcc","type":"number","required":true,"rows":null},{"label":"Is Active Member","value":"iam","type":"number","required":true,"rows":null},{"label":"Estimated Salary","value":"es","type":"number","required":true,"rows":null}],"formValue":{"cid":"","snm":"","cs":"","gpy":"","gd":"","ag":"","tn":"","bal":"","nop":"","hcc":"","iam":"","es":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"Submit your details here","x":70,"y":420,"wires":[["82758153.2466e"]]},{"id":"82758153.2466e","type":"function","z":"4a4967d8.7b9d18","name":"PreToken","func":"global.set(\"cid\",msg.payload.cid)\nglobal.set(\"snm\",msg.payload.snm)\nglobal.set(\"cs\",msg.payload.cs)\nglobal.set(\"gpy\",msg.payload.gpy)\nglobal.set(\"gd\",msg.payload.gd)\nglobal.set(\"ag\",msg.payload.ag)\nglobal.set(\"tn\",msg.payload.tn)\nglobal.set(\"bal\",msg.payload.bal)\nglobal.set(\"nop\",msg.payload.nop)\nglobal.set(\"hcc\",msg.payload.hcc)\nglobal.set(\"iam\",msg.payload.iam)\nglobal.set(\"es\",msg.payload.es)\nvar apikey=\"wxljpESEHSZ-uoJv2MZErXh8mFWlaNrCwEUV1OXeSIEJ\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":360,"wires":[["42e8f3e9.a6ebfc"]]},{"id":"42e8f3e9.a6ebfc","type":"http request","z":"4a4967d8.7b9d18","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":340,"wires":[["24b371c9.3812de"]]},{"id":"24b371c9.3812de","type":"function","z":"4a4967d8.7b9d18","name":"Pre Prediction","func":"var cid = global.get('cid')\nvar snm = global.get('snm')\nvar cs = global.get('cs')\nvar gpy = global.get('gpy')\nvar gd = global.get('gd')\nvar ag = global.get('ag')\nvar tn = global.get('tn')\nvar bal = global.get('bal')\nvar nop = global.get('nop')\nvar hcc = global.get('hcc')\nvar iam = global.get('iam')\nvar es = global.get('es')\nvar token=msg.payload.access_token\nvar instance_id=\"3d173d3c-6aa8-44e1-881b-7e06304f0112\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"RowNumber\", \"CustomerId\", \"Surname\", \"CreditScore\", \"Geography\", \"Gender\", \"Age\", \"Tenure\", \"Balance\", \"NumOfProducts\", \"HasCrCard\", \"IsActiveMember\", \"EstimatedSalary\"], \"values\": [[cid,snm,cs,gpy,gd,ag,tn,bal,nop,hcc,iam,es]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":280,"wires":[["d904177e.e648d8"]]},{"id":"d904177e.e648d8","type":"http request","z":"4a4967d8.7b9d18","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/12c86676-d489-4ed3-b38a-5031bb5f5c05/predictions","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":200,"wires":[["6970892a.25b258"]]},{"id":"6970892a.25b258","type":"function","z":"4a4967d8.7b9d18","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":100,"wires":[["7caabd9a.404d14","e38093ec.d1dac"]]},{"id":"7caabd9a.404d14","type":"ui_text","z":"4a4967d8.7b9d18","group":"fe8adbe7.f7ce58","order":1,"width":0,"height":0,"name":"","label":"Fill these details:","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":340,"wires":[]},{"id":"e38093ec.d1dac","type":"debug","z":"4a4967d8.7b9d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":60,"wires":[]},{"id":"fe8adbe7.f7ce58","type":"ui_group","z":"","name":"Telecommunication industry","tab":"1fcf3956.f9ef37","order":1,"disp":true,"width":"6","collapse":false},{"id":"1fcf3956.f9ef37","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
